.c-img-rounded{
    border-radius:50% !important; 
   }

   .c-color-orange{
    color: #FF5333;

   }

   /* .text-large-150 {
    font-size: 150%;
  }

  .text-large-200 {
    font-size: 200%;
    color: black;
  } */

